{% extends "DefShopCustomerCenterBundle::layout.html.twig" %}

{%  block content %}
    <h1>Hello {{ person.name }}!</h1>

    <h2>Deine Adressen</h2>
    <ul>
    {% for address in person.addresses %}
        <li>
            {{ address.street }}<br />
            {{ address.zip }} {{ address.city }}<br />
            {{ address.country }}
            <a class="btn btn-xs btn-danger"
               href="{{ path('defshop.customer_center.address.remove', {personId: person.id, addressId: address.id }) }}">
                x
            </a><br />
        </li>
    {% else %}
        <li>Bislang keine Adressen angelegt.</li>
    {% endfor %}
    </ul>

    <h2>Weitere Adresse hinzufügen</h2>
    <form action="{{ path('defshop.customer_center.address', {personId: person.id}) }}" method="POST">
        <div class="form-group">
            <label>Strasse</label>
            <input type="text" class="form-control" name="street" placeholder="Strasse">
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label>PLZ</label>
                <input type="number" class="form-control" name="zip" placeholder="12345">
            </div>
            <div class="form-group col-xs-8">
                <label>City</label>
                <input type="text" class="form-control" name="city" placeholder="Stadt">
            </div>
        </div>
        <div class="form-group">
            <label>Country</label>
            <input required type="text" class="form-control" name="country" placeholder="Land">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{%  endblock %}